/* Badges */
.badges {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
}

.badges .badge {
    background: transparent;
    text-align: center;
    display: inline-block;
    margin: 0 5px;
    width: 50%;
}

.badge img {
    width: 50px;
    height: 50px;
    display: block;
    padding: 10px;
    background: #000;
    margin: 5px;
    border-radius: 10px;
    margin: 10px auto;
}

.modal-body .badges {
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.modal-body .badges .badge img {
    background: #FFF;
    width: 60px;
    height: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.modal-badge.badge{ margin: 20px auto; }

.modal-badge.badge {
    width: 70px;
    height: 70px;
}
