/* Badges */
.badges{
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
}
.badge{
    width: 50px;
    height: 50px;
    display: flex;
    padding: 10px;
    background: #222;
    margin: 5px;
    border-radius: 10px;
}

.modal-badge.badge{ margin: 20px auto; }
.badge:hover{ transform: scale(1.05); }
.badge:active{ transform: scale(1.00); }
.badge img{ max-width: 100%; }
.badge img.zoom{ transform: scale(1.1); }

.modal-badge.badge {
    width: 70px;
    height: 70px;
}
