/* Default Buttons */
.btn.btn-xs {
    padding: 7.5px 14.5px !important;
    font-size: 11px;
    font-weight: 700 !important;
}

.btn.btn-xs.outline {
    padding: 6.5px 13.5px !important;
}

.btn {
    border-radius: 100px;
    font-weight: 700 !important;
}

.btn.outline {
    padding: 14px 24px !important;
}

.btn:focus,
.btn:active { outline: none !important; }

/* Button Mais Bartenders Primary */
.btn.btn-mb-default{
    background: -webkit-linear-gradient(left, #fff, #ddd);
    border: 0;
    color: #000;
}


/* Button Mais Bartenders Primary */
.btn.btn-mb-primary,
.btn.btn-mb-primary.outline.reset-outline {
    background: -webkit-linear-gradient(left, #f7941e, #f66439);
    border: 0;
    color: #fff;
}

.btn.btn-mb-primary.outline {
    background: transparent;
    border: 1px solid #f7941e;
    color: #f7941e;
}

/* Button Mais Bartenders Primary Reverse */
.btn.btn-mb-primary-reverse {
    background: #FFF;
    border: 0;
    color: #f7941e;
}

.btn.btn-mb-primary-reverse.outline {
    background: transparent;
    border: 1px solid #FFF;
    color: #FFF;
}

/* Button Mais Bartenders Info */
.btn.btn-mb-info {
    background: -webkit-linear-gradient(left, #3498db, #1f76b1);
    border: 0;
    color: #fff;
}

.btn.btn-mb-success{
    background: -webkit-linear-gradient(left, #00836D, #00836D);
    border: 0;
    color: #fff;
}

/* Button Mais Bartenders Danger */
.btn.btn-mb-danger {
    background: -webkit-linear-gradient(left, #f63953, #f7281e);
    border: 0;
    color: #fff;
}

/* Button Mais Bartenders Facebook */
.btn.btn-mb-facebook {
    background: -webkit-linear-gradient(left, #4267b2, #3b5998);
    border: 0;
    color: #fff;
}

/* Button Mais Bartenders whatsapp */
.btn.btn-mb-whatsapp {
    background: -webkit-linear-gradient(left, #00e676, #1ebea5);
    border: 0;
    color: #fff;
}

/* btn fixed bottom */
.btn.btn-primary.btn-fixed-bottom{
    box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, .3);
    position: fixed !important;
    left: 0;
    right: 0;
    border-radius: 0;
    bottom: 0;
    background-color: #fed136;
    border-color: #fed136;
    color: #fff !important;
    font-weight: 700;
    z-index: 100;
}

.btn-fixed-bottom{
    box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, .3);
}

.btn.btn-primary.btn-fixed-bottom:hover{
    color: #2c3e50 !important;
}

.btn.btn-primary.btn-fixed-bottom-modal{
    position: fixed !important;
    z-index: 2000;
}

/* Buttons Fixed */
.btn.btn-fixed-bottom {
    position: absolute;
    left: 0; bottom: 0; right: 0;
    width: 100%;
    display: block;
    border-radius: 0;
}

.btn.btn-fixed-bottom {
    position: absolute;
    left: 0; bottom: 0; right: 0;
    width: 100%;
    display: block;
    border-radius: 0;
}

.btn.btn-fixed-card {
    position: absolute;
    left: 0; bottom: 0; right: 0;
    width: 100%;
    display: block;
    border-radius: 0 0 10px 10px;
    padding: 10px 0 !important;
}

/*
Social Buttons
 */

.facebook, facebook:hover, facebook:focus{
    background-color: #3B5998 !important;
    border-color: #3B5998 !important;
}
.google, google:active{
    background-color: #DF4A32 !important;
    border-color: #DF4A32 !important;
}

.button-icon{
    padding-right: 10px;
}
