.btn.btn-xs {
    padding: 7.5px 14.5px !important;
}
.btn.btn-mb-primary{
    background: -webkit-linear-gradient(left, #f7941e, #f66439);
    border: 1px solid transparent;
    border-radius: 100px;
    padding: 15px 25px;
    color: #fff;
    font-weight: 700;
}
