.categories {
    width: 100%;
    column-count: 2;
    column-gap: 0;

}

.category {
    width: 100%;
    display: inline-block;
    padding: 5px;
}

@media (min-width: 900px) {
    .categories {
        column-count: 3;
    }
}


/* Scroll X */

.row-x {
    width: 100%;
    column-count: 3;
    column-gap: 0;
    margin: 0 -15px;
}

@media (max-width: 768px) {
    .row-x {
        column-count: auto;
        column-gap: auto;
        overflow-x: scroll;
        white-space: nowrap;

    }
}

::-webkit-scrollbar {
   display: none;
}
