.categories {
    width: 100%;
    column-count: 2;
    column-gap: 0;

}

.category {
    width: 100%;
    display: inline-block;
    padding: 5px;
}

@media (min-width: 900px) {
    .categories {
        column-count: 3;
    }
}
