.title-section {
    text-align: center;
    margin: 28.5px 0;
    font-weight: 300;
    background: -webkit-linear-gradient(#FB923B, #F66439);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-section.inverse {
    color: #FFF;
    background: none;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
}

.title-in-colored {
    color: #fff;
    text-align: center;
    font-weight: 700;
    margin: 0 0 20px 0;
}
