/*                 */
/* Bootstrap Modal */
/*                 */

.modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 30px 0;
    height: calc(100vh - 20px);
}

.modal .modal-header,
.modal .modal-content {
    border: none;
    text-align: center;
    padding-bottom: 20px;
}

.modal .modal-footer {
    border: none;
    padding: 0 10px;
    position: absolute;
    bottom: 20px; left: 0; right: 0;
}

.modal .modal-body {
    padding: 0 10px;
    height: calc(100vh - 270px);
    overflow-y: scroll;
}

.modal .modal-title,
.modal .modal-content {
    color: #FFF;
    font-weight: 700;
}

.modal .modal-footer .btn {
    font-weight: 700;
}

.modal .modal-footer .btn + .btn {
    margin-top: 10px !important;
}

.modal-backdrop {
   background-color: rgba(0, 0, 0, .9) !important;
   opacity: 1 !important;
}

@media (max-width: 414px) {
    .modal .modal-footer {
        bottom: 0;
    }
}
