/* Show Header */
.first-container.show {
    margin-bottom: 30px;
}

.first-container.show .container-colored { padding-top: 60px; }

.show-header {
    width: 100%;
    height: 600px;
    position: relative;
    margin-top: -60px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
}

.show-header span {
    border: 3px solid #fff;
    text-align: center;
    display: block;
    max-width: 320px;
    padding: 7px 14px;
    border-radius: 100px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
    cursor: pointer;
    background: -webkit-linear-gradient(left, #f7941e, #f66439);
    color: #fff;
    font-weight: 700;
    bottom: -20px;
    transform: translateY(20px);
    margin: 0 15px;
}

.show-header span a,
.show-header span a:active,
.show-header span a:focus {
    color: #FFF;
    text-decoration: none;
}

@media (min-width: 612px) {
    .first-container.show {
        padding-top: 430px;
    }
    .show-header {
        height: 300px;
        top: 70px;
        left: 0; right: 0;
        position: fixed;
        z-index: 50;
        margin-top: 0;
    }
}

@media (max-width: 414px) {
    .first-container.show {
        padding-top: 210px;
    }
    .show-header {
        height: 130px;
    }
}
