.svg-container {
    width: 80px;
    margin: 0 auto;
    overflow: hidden;
}

.cat-icon-svg {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    overflow: hidden;
}

.non-fill { fill: transparent; stroke-width: 2px; }

.non-fill.xs { stroke-width: 1px; }

.non-fill-xs { fill: transparent; stroke-width: .4px; }

path.fix { transform: translate(2px, 2px); }
path.fix-user { transform: translate(-5px, -2px); }




/* Desnha Linha */

path.animated,
path.non-fill.xl.animated {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: draw 1s linear forwards;
}

path.non-fill.animated {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: draw 1s linear forwards;
}

path.non-fill-xs.animated {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: draw 1s linear forwards;
}

@keyframes draw {
    to { stroke-dashoffset: 0; }
}

.bounce {
    animation: bounce .3s linear forwards;
}

.bounce path {
    stroke: none !important;
}

@keyframes bounce {
    0% {
        transform: translate(0, 0) scale(1);
    }
    50% {
        transform: translate(0, 10px) scale(1.2);
    }
    100% {
        transform: translate(0, 0) scale(1);
    }
}
