.svg-container {
    max-width: 80px;
    margin: 0 auto;
}
.non-fill { fill: transparent; stroke-width: 2px; }

.non-fill-xs { fill: transparent; stroke-width: 1px; }

path.fix { transform: translate(2px, 2px); }


/* Desnha Linha */
path.non-fill.animated {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: draw 1s linear forwards;
}

path.non-fill-xs.animated {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: draw 1s linear forwards;
}

@keyframes draw {
    to { stroke-dashoffset: 0; }
}
