/* Tabs */
.tabs {
    white-space: nowrap;
    z-index: 100;
    height: 50px;
    width: 768px;
    margin: 0 auto;
    display: block;
    text-align: center;
    transform: translateY(-20px);
    z-index: 100;
    position: relative;
}

.tabs .tab {
    background: #FFF;
    border: 3px solid #fff;
    color: #f7941e;
    text-align: center;
    display: inline-block;
    width: 25%;
    padding: 7px 4px;
    border-radius: 100px;
    margin: 0 15px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
    cursor: pointer;
    background: -webkit-linear-gradient(left, #f7941e, #f66439);
    color: #fff;
    font-weight: 700
}

.tabs .tab.active {
    background: -webkit-linear-gradient(left, #f7941e, #f66439);
    color: #fff;
    font-weight: 700
}

@media (max-width: 768px) {
    .tabs {
        overflow-x: scroll;
        position: fixed;
        height: 50px;
        width: 100%;
        transform: translateY(-60px);
    }
}

@media (max-width: 414px) {
    .tabs .tab { width: 50%; }
}
