body {
    min-height: 100vh;
    background-color: #FFF;
    color: #FB923B;
}

.container-colored {
    background-color: #FB923B;
    padding: 30px 0;
    box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, .1);
}

.container-colored.bottom-fixed {
    position: fixed;
    bottom: 0; left: 0; right: 0;
}

.first-container {
    padding-top: 130px;
    overflow-y: hidden;
}

@media (max-width: 768px) {
    .first-container {
        padding-top: 110px;
    }
}
