.background{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.main-title{
    margin: 0;
    color: #222;
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 20px
}

.button {
    background: #e5d647;
    color: #fff;
    box-shadow:3px 1px 1px rgba(0, 0, 0, .1);
}
.button:focus{ background:#4b2c50; }

.greeting {
    font-size: 1rem;
    font-style: italic;
    color: #222;
    background: rgba(255, 255, 255, .7);
    max-width: 320px;
    margin: 0 auto;
    display: block;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.1);
}

.tag {
    cursor: pointer;
    display: flex;
    background: #dedede;
    padding: 7px 14px;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    text-transform: uppercase;
}

.checkbox{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.checkbox:checked + label {
    background: #4b2c50;
    color: #fff;
}

.group-tags{
    display: flex;
    flex-flow: row wrap;
    align-content: left;
    justify-content: left;
}
.title-filter{
    padding: 10px;
    text-transform: uppercase;
}
.tag-container{
    padding: 10px;
}


/*
Swiper
*/
.gallery-top {
    height: 80%;
    width: 100%;
}
.gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
    width: 200px;
    height: 100px;
    opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}
